<div class="post">
  <section class="header">
    <h3 class="title"><%= post.title%> <i> by <%= user.name%> <i> </h3>
    <span class="counters">Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
  </section>
  <p class="text"><%= post.text%></p>
</div>
