<h2>New post is being created by <i> <%= @user.name %> </i> </h2>
<%= form_with model: @new_post, url: create_post_path do |form| %>
<%puts 'Log>>'%>
<%puts create_post_path%>
  <%= form.label :title %>: 
  <%= form.text_field :title %><br>
  <%= form.text_area :text, size: "70x5" %><br>
  <%= form.submit "Create Post" %>
<% end %>
<% if flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>
