<h2>Post</h2>
<div class="post-container">
  <%= render partial: "shared/post", locals: { post: @post, user: @user} %>
  <%= render partial: "shared/comment_like_form"%>
  <% @comments.each do |comment|%>
    <% user = User.find(comment.author_id)%>
    <%= render partial: "shared/comment", locals: { comment: comment, user: user } %>
  <%end%>
</div>

<% if can? :destroy, @post %>
  <%= button_to "Destroy this post", @del_post, method: :delete %> <%# didn't use path coz the destroy method of the post is in the same controller%>
<% end %>


<%= button_to "Destroy this post", @del_post, method: :delete %> <%# didn't use path coz the destroy method of the post is in the same controller%>